/*import des fonts*/
@font-face {
    font-family: 'dancing';
    src: url(assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'khula-regular';
    src: url(assets/fonts/Khula/Khula-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'khula-bold';
    src: url(assets/fonts/Khula/Khula-Bold.ttf) format('truetype');
}

/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "khula-regular", sans-serif;
    color: rgba(245, 245, 245, 1);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'danscing', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(245, 245, 245, 1);
}

ul,
ol,
li {
    list-style: none;
}

body {
    background-color: rgba(33, 27, 26, 1);
}

#topbar {
    display: flex;
    flex-direction: column;
}

.line1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}
.box-phone{
    margin-right: 25px;
}

.box-social{
    margin-left: 25px;
}

/*2eme media query>480px et >768px*/
/* ici on va coder la vue tablette*/
@media screen and (min-width: 480px){}

.line2{
    width: 100%;
    background: linear-gradient(to bottom, rgba(33, 27, 26, 1),rgba(155, 49, 49, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
}
